</br>
<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="#" {{action 'sortBy' 'shareVolume:desc'}}> Most Active by Volume</a></li>
            <li><a href="#" {{action 'gainersSort'}}> Gainers</a></li>
            <li><a href="#" {{action 'losersSort'}}> Losers</a></li>
        </ul>
    </section>
</nav>

<table  id="stock-market-summary" width="100%" style="margin:0;">
    <thead>
    <tr>
        <th width = "16.67%">Company</th>
        <th width = "16.67%">Open Price</th>
        <th width = "16.67%">Current Price</th>
        <th width = "16.67%">Change <br> Value - %</th>
        <th width = "16.67%">Share Volume</th>
        <th>Order</th>
    </tr>
    </thead>
    </table>
<div class='market-table' margin-top="0px">
    <table width="100%" id='stock-table-body' >
    <tbody>
    {{#each company in sortedCompanies}}
        <tr>
            <td width = "16.67%">{{#link-to 'marketDepth' company.id}}{{company.name}}{{/link-to}}</td>
            <td width = "16.67%">{{company.openPrice}}</td>
            <td width = "16.67%">calc this value</td>
            <td width = "16.67%">calc this value</td>
            <td width = "16.67%">{{company.shareVolume}}</td>
            <td>
                <a href="#" class="button round" {{action 'buy' company.id}}>Buy</a>
                <a href="#" class="button round" {{action 'sell' company.id}}>Sell</a>
            </td>
        </tr>
    {{/each}}

    </tbody>
    </table>
</div>

<!--Market By Order-->
<div class="medium-5 columns">
    <p style="text-align: center;"> Market By Order<p>

    <div class="medium-6 columns" style="margin-right:0px;">
        <table id="market-by-order" width="100%">
            <thead>
            <tr>
                <th style="text-align: center;" colspan="2">Buy</th>
            </tr>
            <tr>
                <th style="text-align: center;">Volume</th>
                <th style="text-align: center;">Price</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="medium-6 columns">
        <table id="market-by-order" width="100%" style="float:left;">
            <thead>
            <tr>
                <th style="text-align: center;" colspan="2">Sell</th>
            </tr>
            <tr>
                <th style="text-align: center;">Volume</th>
                <th style="text-align: center;">Price</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="medium-6 columns" style="margin-left:0px;">
        <div class='market-table' margin-top="0px">
            <table width="100%" id='stock-market-summary'>
                <tbody style="text-align: center;">
                {{#each buyOrder in buyOrders}}
                    <tr>
                        <td style="text-align: center;">{{buyOrder.volume}}</td>
                        <td style="text-align: center;">{{buyOrder.price}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="medium-6 columns">
        <div class='market-table'>
            <table width="100%" id='stock-market-summary '>
                <tbody style="text-align: center;">
                {{#each sellOrder in sellOrders}}
                    <tr>
                        <td style="text-align: center;">{{sellOrder.volume}}</td>
                        <td style="text-align: center;">{{sellOrder.price}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        </table>
    </div>
</div>

<!--Market By Price-->
<div class="medium-5 columns">
    <div>
        <p style="text-align: center;"> Market By Price<p>
        <table  id="market-by-order" width="100%" >
            <thead align="left" valign="middle">
            <tr >
                <th style = "text-align: center;" colspan="3" >Buy</th>
                <th style = "text-align: center;" colspan="3" >Sell</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Price</th>
                <th>Volume</th>
                <th>#</th>
            </tr>
            </thead>
        </table>
        <div class='market-table' margin-top="0px">
            <table width="100%">
                <tbody style = "text-align: center;">
                    {{#each buyOrder in buyOrders}}
                        <tr>
                            <td>{{numberBuyOrders}}</td>
                            <td>{{buyOrder.volume}}</td>
                            <td>{{buyOrder.price}}</td>
                            <td> </td>
                            <td> </td>
                            <td></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        </table>
    </div>
</div>